[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docutils = "~=0.14"
ibis = "~=1.6"
PyYAML = "~=5.1"

[dev-packages]
mypy = "~=0.580"
typed-ast = "~=1.1"
isort = "~=4.3"
"flake8" = "~=3.5"

[requires]
python_version = "3.8"
