<h1>Project report {{{entries.start_date}}} to {{{entries.stop_date}}}</h1>
<table>
    <tr>
        <th>Date</th>
        <th>Day</th>
        <th>Employer</th>
        <th>Project</th>
        <th>Total</th>
    </tr>
    {% for entry in entries.all.project_report %}
        <tr>
            <td>{{{ entry.date }}}</td>
            <td>{{{ entry.date|dtformat('%A') }}}</td>
            <td>{{{ entry.project.employer.name }}}</td>
            <td>{{{ entry.project.name }}}</td>
            <td>{{{ entry.total_delta|dformat('hh:mm') }}}</td>
        </tr>
    {% endfor %}
    <tr>
        <td>TOTAL</td>
        <td></td>
        <td>{{{ entries.all.total_delta|dformat('hh:mm') }}}</td>
    </tr>
</table>

