<h1>Employers {{{entries.start_date}}} to {{{entries.stop_date}}}</h1>
<table>
    <tr>
        <th>Employer</th>
        <th>Total</th>
    </tr>
    {% for employer in entries.employers %}
        <tr>
            <td>{{{ employer.name }}}</td>
            <td>{{{ employer.total_delta|dformat('hh:mm') }}}</td>
        </tr>
    {% endfor %}
</table>

<h1>Projects {{{entries.start_date}}} to {{{entries.stop_date}}}</h1>
<table>
    <tr>
        <th>Employer</th>
        <th>Project</th>
        <th>Total</th>
    </tr>
    {% for employer in entries.employers %}
    {% for project in employer.projects %}
    {% if project.total_delta %}
        <tr>
            <td>{{{ employer.name }}}</td>
            <td>{{{ project.name }}}</td>
            <td>{{{ project.total_delta|dformat('hh:mm') }}}</td>
        </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
</table>

<h1>Tasks {{{entries.start_date}}} to {{{entries.stop_date}}}</h1>
<table>
    <tr>
        <th>Employer</th>
        <th>Project</th>
        <th>Task</th>
        <th>Total</th>
    </tr>
    {% for employer in entries.employers %}
    {% for project in employer.projects %}
    {% for task in project.tasks %}
    {% if task.total_delta %}
        <tr>
            <td>{{{ employer.name }}}</td>
            <td>{{{ project.name }}}</td>
            <td>{{{ task.name }}}</td>
            <td>{{{ task.total_delta|dformat('hh:mm') }}}</td>
        </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endfor %}
</table>

